#footer {
  margin-top: 90px;
  position: relative;

  .menu {
    margin-bottom: 15px;
  }

  p {
    font-family: $header-font-family;
  }

  .illustration {
    bottom: -30px;
    font-size: 0;
    line-height: 0;
    max-height: 186px;
    max-width: 337px;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1;
  }
}
