#bulletins {
  margin-bottom: 60px;

  .bulletin {
    img {
      margin-bottom: 20px;
      max-width: 160px;
    }

    .paragraph {
      margin-bottom: 30px;
    }

    @include media-query('medium', 'max') {
      img {
        max-width: 120px;
      }
    }
  }
}
