#navigation
  display: flex
  margin-top: 90px
  justify-content: space-between !important

  a
    font-family: $header-font-family
    font-size: 24px
    font-weight: 600
    min-width: 50%
    padding-bottom: 10px
    position: relative
    text-decoration: none

    &#previous
      text-align: left

    &#next
      text-align: right

    &:hover
      color: $primary-color

      span
        border-top-color: $base-color
        color: $base-color

    span
      border-top: 3px solid $secondary-color
      color: $secondary-color
      display: block
      font-family: $base-font-family
      font-size: 14px
      font-weight: 500
      margin-top: 5px
      padding-top: 5px
      text-transform: uppercase

  +media-query('medium', 'max')
    justify-content: space-around !important

    a#previous, a#next
      text-align: center

    a#next
      margin-top: 30px
