// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,500');

// Locals
$base-background-color: #f7f7f7;
$base-color: #071417;
$base-link-color: $base-color;
$primary-color: #2ea52c;
$base-font-family: Roboto, serif;
$header-font-family: 'Roboto Slab', sans-serif;

// Kit
@import "node_modules/kit/src/index";

// Code
.container {
  margin-top: 30px;
  margin-bottom: 30px;

  .row {
    @extend .with-space-around;
    @extend .text-center;

    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  @extend .h1;

  margin-bottom: 20px;
}

[class*="btn-"] {
  max-width: 160px;
}

a {
  font-weight: 500;
}

p, .paragraph {
  @include text-break;

  line-height: 25px;
}

#topbar {
  @extend .is-aligned-items-center;

  @include media-query('small', 'max') {
    .column { text-align: center;}
    .column > * { margin-bottom: 10px; }
    .column:last-child > * { margin-bottom: 0; }
  }
}

#header {
  margin-bottom: 60px;

  .title {
    color: $primary-color;
    font-size: 44px;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    line-height: normal;
  }
}

#bulletins {
  margin-bottom: 60px;

  .bulletin {
    svg {
      margin-bottom: 20px;
      max-width: 160px;
    }

    .paragraph {
      margin-bottom: 30px;
    }

    @include media-query('medium', 'max') {
      svg {
        max-width: 120px;
      }
    }
  }
}

#services {
  margin-bottom: 60px;

  .paragraph {
    margin-bottom: 20px;
  }

  .btn-primary {
    margin-bottom: 30px;
  }
}

#about {
  .title {
    margin-bottom: 60px;
  }

  svg {
    margin-bottom: 20px;
  }
}

#mailing-list {
  margin-bottom: 80px;

  form.row {
    margin: 0;

    .column > * {
      margin-bottom: 10px;
    }
  }

  .email {
    border-radius: $border-radius;
    border: 1px solid rgba($base-color, 0.2);
    font-size: 14px;
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    width: 100%;

    &:focus {
      border-color: $base-color;
    }
  }
}

#credits {
  .column > .title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .title {
    margin-top: 30px;
  }
}

#footer {
  font-family: $header-font-family;
}
