<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.liquid %}
<body>

  <!-- Topbar -->
  {% include topbar.liquid %}

  {{ content }}

  <!-- Footer -->
  {% include footer.liquid %}

</body></html>
