---
  layout: default
  stylesheet: /assets/css/post.css
---

<section id="post" class="container">

  <!-- Content -->
  <div class="row">
    <div class="post xsmall-11 medium-7 column">
      {% include post/content.liquid %}
    </div>
  </div>

</section>
