<div id="about" class="row">
  <div class="xsmall-10 large-8 column">
    <h2 class="title">
      {{ page.content.about.title }}
    </h2>
    {% include page.content.about.image + '.svg' %}
    {{ page.content.about.paragraph | markdown }}
  </div>
</div>
