<div id="banner" class="row">
  <div class="twelve column">
    <h1 class="title">
      {{ include.content.title }}
    </h1>
    {{ include.content.description | markdownify }}
  </div>

  <div class="twelve column">
    <div class="illustration">
      {% svg "{{ include.content.illustration }}" %}
    </div>
  </div>
</div>
