<div id="bulletins" class="row">
  {% for item in include.content %}
    <div class="bulletin xsmall-12 small-6 medium-3 column">
      <img src="{{ item.image }}" alt="{{ item.name }}">
      <p class="paragraph">{{ item.paragraph }}</p>
    </div>
  {% endfor %}
</div>
