<div id="credits" class="row">
  <div class="xsmall-10 medium-6 column">
    <h2 class="title">
      {{ include.content.title }}
    </h2>

    {{ include.content.paragraph | markdownify }}

    {% for kudo in include.content.kudos %}
      <div class="credit">
        <h3 class="title">{{ kudo.name }}</h3>
        <p class="paragraph">{{ kudo.paragraph }}</p>
      </div>
    {% endfor %}
  </div>
</div>
