<div id="mailing-list" class="row">
  <div class="xsmall-10 large-8 column">
    <h2 class="title">
      {{ page.content.mailing_list.title }}
    </h2>

    {{ mailchimp(page.content.mailing_list, mailchimp_details) }}
  </div>
</div>
