<div id="services" class="row">
  {% for item in include.content %}
    <div class="xsmall-12 small-6 large-4 column">
      <h2 class="title">{{ item.title }}</h2>
      <p class="paragraph">{{ item.paragraph }}</p>
      <a href="{{ item.link.url }}" class="btn-primary">
        {{ item.link.text }}
      </a>
    </div>
  {% endfor %}
</div>
