<div id="topbar" class="xsmall-direction-column small-direction-row row">
  <div class="text-left small-6 large-4 column">
    {% include 'logo.svg' %}
  </div>

  <div class="auto-left small-2 large-1 column">
    <a href="{{ page.content.topbar.login.url }}" class="btn-link">
      {{ page.content.topbar.login.text }}
    </a>
  </div>

  <div class="small-3 large-2 column">
    <a href="{{ page.content.topbar.register.url }}" class="btn-primary">
      {{ page.content.topbar.register.text }}
    </a>
  </div>
</div>
