<div id="walkthrough" class="row">
  <div class="xsmall-12 large-10 column">
    <h2 class="title">
      {{ include.content.title }}
    </h2>
    {% include 3rd_party/youtube.liquid id=include.content.youtube_id %}
  </div>
</div>
