<div id="walkthrough" class="row">
  <div class="xsmall-12 column">
    <h2 class="title">
      {{ page.content.walkthrough.title }}
    </h2>
    {{ youtube(page.content.walkthrough.youtube_id) }}
  </div>
</div>
