<footer id="footer">

  <div class="container">
    <div class="row">

      <div class="twelve column">
        {% include menu.liquid %}
      </div>

      <div class="twelve column">
        {{ site.data.footer.fine_print | markdownify | replace: '<p>', '<p class="paragraph">' }}
      </div>

    </div>
  </div>

  <div class="illustration">
    {% svg "{{ site.data.footer.illustration }}" %}
  </div>

</footer>
