---
  layout: default
  permalink: /
  stylesheet: /assets/css/home.css
---

<section id="home" class="container">

  <!-- Banner -->
  {% include /home/banner.liquid content=site.data.home.banner %}

  <!-- Walkthrough -->
  {% include /home/walkthrough.liquid content=site.data.home.walkthrough %}

  <!-- Credits -->
  {% include /home/credits.liquid content=site.data.home.credits %}

  <!-- Mailing List -->
  {% include /home/mailing_list.liquid content=site.data.home.mailing_list provider=site.MAILCHIMP %}

</section>
