---
  layout: default
  title: Welcome to StaticPage!
  description: "Create your own **Coming Soon**, **Under Maintenance**, and **404** pages."
  footer: "**StaticPage** built with **love** out of an apartment somewhere in **Tel Aviv**."
  permalink: /
---

<section id="home" class="container">

  {% include /home/topbar.liquid content=site.data.home.topbar %}
  {% include /home/banner.liquid %}
  {% include /home/bulletins.liquid content=site.data.home.bulletins %}
  {% include /home/walkthrough.liquid content=site.data.home.walkthrough %}
  {% include /home/services.liquid content=site.data.home.services %}
  {% include /home/about.liquid content=site.data.home.about %}
  {% include /home/mailing_list.liquid content=site.data.home.mailing_list provider=site.MAILCHIMP %}
  {% include /home/credits.liquid content=site.data.home.credits %}
  {% include /home/footer.liquid %}

</section>
